.introducao-bg {
  background-color: var(--cor-12);
  color: var(--cor-0);
  box-shadow: inset 0 -120px #fff;
}

.introducao-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.introducao-container img {
  border-radius: 4px;
  object-fit: cover;
  height: 100%;
}

.introducao-conteudo {
  align-self: flex-end;
  padding-bottom: 200px;
}

.introducao-container h1 {
  margin-bottom: 32px;
}

.introducao-container p {
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .introducao-container {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introducao-container h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .introducao-container img {
    height: 300px;
    width: 100%;
  }

  .introducao-conteudo {
    padding-bottom: 0px;
  }

  .introducao-bg {
    padding-top: 30px;
    background-color: var(--cor-11);
    box-shadow: inset 0 -60px #fff;
  }
}
