.tecnologia-bg {
  background-color: var(--cor-11);
  box-shadow: inset 0px 80px #fff, inset 0px -80px #fff;
}

.tecnologia-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}

.tecnologia-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.tecnologia-conteudo {
  padding-top: 160px;
  padding-bottom: 160px;
}

.tecnologia-conteudo > span {
  margin-bottom: 20px;
  display: block;
}

.tecnologia-conteudo h2 {
  margin-bottom: 32px;
}

.tecnologia-texto {
  padding-bottom: 20px;
}

.tecnologia-vantagens {
  padding-top: 60px;
  display: flex;
  gap: 40px;
}

.tecnologia-vantagens h3 {
  padding: 10px 0px;
  width: max-content;
}

.tecnologia-vantagens img {
  width: 24px;
}

@media (max-width: 800px) {
  .tecnologia-bg {
    background-color: var(--cor-11);
    box-shadow: none;
  }
  
  .tecnologia-container {
    grid-template-columns: 1fr;
  }

  .tecnologia-conteudo {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .tecnologia-conteudo h2 {
    margin-bottom: 20px;
  }

  .tecnologia-imagem img {
    display: none;
  }
}

@media (max-width: 600px) {
  .tecnologia-vantagens {
    flex-direction: column;
    max-width: 40ch;
  }
}
